In [1]:
a = 6

In [2]:
type(a)

int

In [3]:
a = "Hello"

In [4]:
a[2]

'l'

In [5]:
a[2]="K"

TypeError: 'str' object does not support item assignment

In [6]:
b = [6,8,4,'k',5.7]

In [8]:
b[2]="Hey"

In [9]:
b

[6, 8, 'Hey', 'k', 5.7]

In [10]:
import keyword

In [12]:
len(keyword.kwlist)

35

In [22]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = a+b
print("Result is ",c)

Enter first number: 6
Enter second number: 7
Result is  13.0

# y = 2x+5

In [27]:
x = int(input("Enter the number: "))
y= 2*x+5
print("Result is: ",y)

Enter the number: 9
Result is:  23

# Operators

In [29]:
print(3**2)

9

In [37]:
14%7 #modulo

0

In [41]:
5//3 #floor division

1

In [43]:
17/3

5.666666666666667

In [44]:
4>7

False

In [45]:
4<19

True

In [46]:
a = 6
b = 3
a+=b # a= a+b

In [47]:
b

3

In [48]:
a

9

In [50]:
3<5 and 5<12

True

In [51]:
a = 6
b = 6

In [55]:
a==b

True

In [53]:
a is b

True

In [54]:
a!=b

False

In [56]:
a is not b

False

In [57]:
l = [7,5,5,67,8,9]
7 in l

True

In [58]:
67 not in l

False

In [59]:
44 in l

False

In [65]:
if 3<4:
    print("Hello")
elif 4>3:
    print("Hii")
else:
    print("Bye")

Hello

# finding the largest number

In [87]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

if a>b:
    if a>c:
        print("Largest number is ",a)
    else:
        print("Largest number is ",c)
if b>a:
    if b>c:
        print("Largest number is",b)
    else:
        print("Largest number is",c)

Enter the first number: 5
Enter the second number: 17
Enter the third number: 2
Largest number is 17

# while loop

In [89]:
a = int(input("Enter the number: "))
while a<10:
    print("hello",a)
    a=a+1
else:
    print("Bye Bye.....")

Enter the number: 1
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
Bye Bye.....

In [93]:
a = 1
while a<=100:
    print("Hello",a)
    a+=1
    while a>20 and a<=30:
        print("Hey",a)
        a=a+1
    while a>50 and a<=70:
        print("Hiii",a)
        a=a+1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 11
Hello 12
Hello 13
Hello 14
Hello 15
Hello 16
Hello 17
Hello 18
Hello 19
Hello 20
Hey 21
Hey 22
Hey 23
Hey 24
Hey 25
Hey 26
Hey 27
Hey 28
Hey 29
Hey 30
Hello 31
Hello 32
Hello 33
Hello 34
Hello 35
Hello 36
Hello 37
Hello 38
Hello 39
Hello 40
Hello 41
Hello 42
Hello 43
Hello 44
Hello 45
Hello 46
Hello 47
Hello 48
Hello 49
Hello 50
Hiii 51
Hiii 52
Hiii 53
Hiii 54
Hiii 55
Hiii 56
Hiii 57
Hiii 58
Hiii 59
Hiii 60
Hiii 61
Hiii 62
Hiii 63
Hiii 64
Hiii 65
Hiii 66
Hiii 67
Hiii 68
Hiii 69
Hiii 70
Hello 71
Hello 72
Hello 73
Hello 74
Hello 75
Hello 76
Hello 77
Hello 78
Hello 79
Hello 80
Hello 81
Hello 82
Hello 83
Hello 84
Hello 85
Hello 86
Hello 87
Hello 88
Hello 89
Hello 90
Hello 91
Hello 92
Hello 93
Hello 94
Hello 95
Hello 96
Hello 97
Hello 98
Hello 99
Hello 100

# for loop

In [2]:
seq = range(1,11,1)
for i in seq:
    print("Number: ",i)

Number:  1
Number:  2
Number:  3
Number:  4
Number:  5
Number:  6
Number:  7
Number:  8
Number:  9
Number:  10

In [3]:
seq = range(10,0,-1)
for i in seq:
    print("Number: ",i)

Number:  10
Number:  9
Number:  8
Number:  7
Number:  6
Number:  5
Number:  4
Number:  3
Number:  2
Number:  1

In [5]:
seq = ["Ritesh","Mukesh","Rahul","Priya","Shraddha"]
for i in seq:
    print("Number: ",i)

Number:  Ritesh
Number:  Mukesh
Number:  Rahul
Number:  Priya
Number:  Shraddha

# Nested for loop

In [17]:
n = int(input("Enter the number: "))
for row in range(n):
    for col in range(row+1):
        print("*",end=" ")
    print()

Enter the number: 15
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [25]:
a = 1
while a<=20:
    print("Hii bro!",a)
    a+=1
    if a%5==0:
        print("Hey",a)
        continue

Hii bro! 1
Hii bro! 2
Hii bro! 3
Hii bro! 4
Hey 5
Hii bro! 5
Hii bro! 6
Hii bro! 7
Hii bro! 8
Hii bro! 9
Hey 10
Hii bro! 10
Hii bro! 11
Hii bro! 12
Hii bro! 13
Hii bro! 14
Hey 15
Hii bro! 15
Hii bro! 16
Hii bro! 17
Hii bro! 18
Hii bro! 19
Hey 20
Hii bro! 20

In [35]:
a = 1
while True:
    print("Hii bro!",a)
    a=a+1
    if a==10:
        break

Hii bro! 1
Hii bro! 2
Hii bro! 3
Hii bro! 4
Hii bro! 5
Hii bro! 6
Hii bro! 7
Hii bro! 8
Hii bro! 9

In [33]:
def fun():
    pass
    
    
    
print("Hiii")

Hiii

In [36]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [38]:
seq = "Ritesh"
for i in seq:
    print(i)

R
i
t
e
s
h

In [41]:
seq[2]

't'

In [43]:
seq = ["Ritesh","Priya","Mukesh","Rahul"]
for i in seq:
    print(i)

Ritesh
Priya
Mukesh
Rahul

In [44]:
seq[0]

'Ritesh'

In [45]:
type(seq)

list

In [48]:
a = "Hey, it's Ritesh"
a

"Hey, it's Ritesh"

In [50]:
z = '''seq = ["Ritesh","Priya","Mukesh","Rahul"]
for i in seq:
    print(i)'''

In [51]:
print(z)

seq = ["Ritesh","Priya","Mukesh","Rahul"]
for i in seq:
    print(i)

In [52]:
type(z)

str

# String

In [53]:
s1 = "India"
s2 = "Mumbai"

In [64]:
s2[0:3]

'Mum'

In [54]:
s1+s2

'IndiaMumbai'

In [55]:
s1*3

'IndiaIndiaIndia'

In [56]:
s1[0]

'I'

In [59]:
s1[-1]

'a'

In [60]:
s1[0]

'I'

In [61]:
s1[-5]

'I'

In [66]:
s1.upper()

'INDIA'

In [67]:
s2.lower()

'mumbai'

In [68]:
s3 = "hello"

In [69]:
s3.capitalize()

'Hello'

In [72]:
s3.count("l")

2

In [73]:
s4 = "Hello everyone"

In [77]:
s4.index("e",9)

13

In [78]:
len(s4)

14

In [79]:
len(s2)

6

In [80]:
len(s3)

5

In [81]:
min(s4)

' '

In [82]:
max(s4)

'y'

In [83]:
n = 15
str(n)

'15'

In [88]:
s4[3]="HP"

TypeError: 'str' object does not support item assignment

# List

In [84]:
l1 = [5,7,8,5,4.3,'hii',"ok"]

l1[-1]="Hey"

In [85]:
l1

[5, 7, 8, 5, 4.3, 'hii', 'Hey']

In [89]:
l1[2:5]

[8, 5, 4.3]

In [90]:
for i in l1:
    print(i)

5
7
8
5
4.3
hii
Hey

In [91]:
l1.append(1000)

In [96]:
l1.insert(4,5000)

In [97]:
l1

[5, 7, 8, 5, 5000, 4.3, 'hii', 'Hey', 1000, 4]

In [98]:
l1.remove("hii")

In [99]:
l1

[5, 7, 8, 5, 5000, 4.3, 'Hey', 1000, 4]

In [100]:
l1.pop()

4

In [101]:
l1

[5, 7, 8, 5, 5000, 4.3, 'Hey', 1000]

In [102]:
l2 = l1.copy()

In [103]:
l1

[5, 7, 8, 5, 5000, 4.3, 'Hey', 1000]

In [104]:
l2

[5, 7, 8, 5, 5000, 4.3, 'Hey', 1000]

In [105]:
l3 = [7,6,4,90]
l1.extend(l3)

In [106]:
l3

[7, 6, 4, 90]

In [107]:
l1

[5, 7, 8, 5, 5000, 4.3, 'Hey', 1000, 7, 6, 4, 90]

In [108]:
l1.reverse()

In [109]:
l1

[90, 4, 6, 7, 1000, 'Hey', 4.3, 5000, 5, 8, 7, 5]

In [111]:
l1.remove("Hey")

In [116]:
l1.sort(reverse=True)

In [117]:
l1

[5000, 1000, 90, 8, 7, 7, 6, 5, 5, 4.3, 4]

In [120]:
l1.index(4)

10

In [123]:
l1.count(7)

2

In [124]:
l1

[5000, 1000, 90, 8, 7, 7, 6, 5, 5, 4.3, 4]

In [125]:
l1.clear()

In [126]:
l1

[]

In [127]:
type(l1)

list

In [128]:
l5 = [5000, 1000, 90, 8, 7, 7, 6, 5, 5, 4.3, 4]
len(l5)

11

In [129]:
min(l5)

4

In [130]:
max(l5)

5000

In [131]:
sum(l5)

6136.3

# Tuple

In [132]:
a = (5,7,3,56,7,8.5,"Hiii")

In [136]:
a[0:3]

(5, 7, 3)

In [137]:
a = list(a)

In [139]:
a[-1]="Hello"

In [140]:
a

[5, 7, 3, 56, 7, 8.5, 'Hello']

In [141]:
a = tuple(a)

In [142]:
a

(5, 7, 3, 56, 7, 8.5, 'Hello')

In [143]:
len(a)

7

In [145]:
a.index(7)

1

In [146]:
a.count(7)

2

# Dictionary

In [147]:
d = {"A":4,"B":5,"C":15,"D":25}

In [148]:
type(d)

dict

In [150]:
len(d)

4

In [151]:
min(d)

'A'

In [152]:
max(d)

'D'

In [153]:
d.keys()

dict_keys(['A', 'B', 'C', 'D'])

In [154]:
d.values()

dict_values([4, 5, 15, 25])

In [155]:
d.items()

dict_items([('A', 4), ('B', 5), ('C', 15), ('D', 25)])

In [157]:
d.pop("D")

25

In [158]:
d

{'A': 4, 'B': 5, 'C': 15}

In [161]:
d.popitem()

('C', 15)

In [162]:
d

{'A': 4, 'B': 5}

In [163]:
d.clear()

In [164]:
d

{}

In [165]:
a = ("Name","Class","Subject","Roll No")

In [167]:
g = {}.fromkeys(a,"N")

In [175]:
g["Name"]=["Rahul","Priya"]
g["Class"]=["12th","BE"]
g["Subject"]=["Python","ML"]
g["Roll No"]=["1235","w4653"]

In [176]:
g

{'Name': ['Rahul', 'Priya'],
 'Class': ['12th', 'BE'],
 'Subject': ['Python', 'ML'],
 'Roll No': ['1235', 'w4653']}

In [179]:
s = {6,4,6,7,6,6,6}
s

{4, 6, 7}

In [180]:
l = [6,8,8,76,6,5,7,8]

In [181]:
l

[6, 8, 8, 76, 6, 5, 7, 8]

In [182]:
set(l)

{5, 6, 7, 8, 76}